#api_selector, .footer,
div.parameter-content-type,
div.response .response_headers,
div.response > h4:nth-child(7),
#endpointListTogger_va-api,
div.signature-container > .description,
ul.signature-nav >  li:nth-child(1){
	display: none !important;
}
#va-api_endpoint_list {
	display: block !important;
}
.swagger-section .swagger-ui-wrap .model-signature pre {
	max-height: none;
}
div.signature-container {
	width: 570px;
}
div.signature-container > .snippet {
	display: none;
}
.swagger-section .swagger-ui-wrap {
	max-width: 1060px;
}
.swagger-section .api-popup-dialog .api-popup-title {
	text-align: center;
	padding-top: 0;
}
.api-popup-content > div {
	margin: 10px 0;
}
.api-popup-content #clientId,
.api-popup-content #clientSecret {
	border: 1px solid #aaa;
}
.swagger-section .api-popup-scopes,
.swagger-section .api-popup-grant_types,
.swagger-section input {
	width: 100%;
	padding: 0;
}
#fixed-top-container {
	position: fixed;
	width: 100%;
	height: 25px;
	top: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	background-color: #fcd2b4;
	display: none;
	font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
.swagger-section .api-popup-dialog button.api-popup-authbtn {
	background-color: green;
	color: white;
	border: none;
	width: 100px;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.swagger-section .api-popup-dialog button.api-popup-cancel {
	background-color: lightgrey;
	color: white;
	border: none;
	width: 100px;
	cursor: pointer;
}
.swagger-section .ic-error {
	display: none;
}
.swagger-section .access {
	font-size: 12px;
}